<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 卡牌管理 <span class="c-gray en">&gt;</span> 卡牌列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <span class="select-box inline" style="width: 100px;">
				<select class="select" name="attr_id" id="attr_id">
                    <option value="">属性</option>
                    {foreach $card_attr as $v}
                    <option value="{$v.id}" {if $param['attr_id'] === strval($v['id'])}selected{/if}>{$v.attr_name}</option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline" style="width: 100px;">
				<select class="select" name="resource" id="resource">
                    <option value="">资源</option>
                    <option value="-1" {if $param['resource'] === '-1'}selected{/if}>x</option>
                    <option value="0" {if $param['resource'] === '0'}selected{/if}>0</option>
                    <option value="1" {if $param['resource'] === '1'}selected{/if}>1</option>
                    <option value="2" {if $param['resource'] === '2'}selected{/if}>2</option>
                    <option value="3" {if $param['resource'] === '3'}selected{/if}>3</option>
                    <option value="4" {if $param['resource'] === '4'}selected{/if}>4</option>
                    <option value="5" {if $param['resource'] === '5'}selected{/if}>5</option>
                    <option value="6" {if $param['resource'] === '6'}selected{/if}>6</option>
                    <option value="7" {if $param['resource'] === '7'}selected{/if}>7+</option>
				</select>
            </span>
            <span class="select-box inline" style="width: 100px;">
				<select class="select" name="type_id" id="type_id">
                    <option value="">类型</option>
                    {foreach $card_type as $v}
                    <option value="{$v.id}" {if $param['type_id'] === strval($v['id'])}selected{/if}>{$v.type_name}</option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline" style="width: 100px;">
				<select class="select" name="camp_id" id="camp_id">
                    <option value="">阵营</option>
                    {foreach $card_camp as $v}
                    <option value="{$v.id}" {if $param['camp_id'] === strval($v['id'])}selected{/if}>{$v.camp_name}</option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline" style="width: 100px;">
				<select class="select" name="ability_id" id="ability_id">
                    <option value="">能力</option>
                    {foreach $card_ability as $v}
                    <option value="{$v.id}" {if $param['ability_id'] === strval($v['id'])}selected{/if}>{$v.ability_name}</option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline">
				<select class="select" name="version_id" id="version_id" style="width: 100px;">
                    <option value="">版本</option>
                    {foreach $card_version as $v}
                    <option value="{$v.id}" {if $param['version_id'] === strval($v['id'])}selected{/if}>{$v.version_name}</option>
                    {/foreach}
				</select>
            </span>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder="卡牌名字" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找卡牌</button>
            <!--<button name="" class="btn btn-info" type="button" id="toExcel"><i class="Hui-iconfont">&#xe66b;</i> 导出Excel</button>-->
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加卡牌" data-href="article-add.html" onclick="pagefull('添加卡牌','{:url("Card/cardAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加卡牌
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="80">图片</th>
            <th width="150">卡牌名</th>
            <th width="44">属性</th>
            <th width="120">资源值</th>
            <th width="80">类型</th>
            <th width="44">阵营</th>
            <th width="100">能力</th>
            <th>版本</th>
            <th width="80">状态</th>
            <th width="130">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td>
                    <div style="width: 80px;height: 120px;background-image: url('/{$li.pic}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.card_name}</td>
                <td>
                    {if isset($attr[$li['attr_id']])}
                    <div style="width: 44px;height: 44px;background-image: url('/{$attr[$li['attr_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>
                    {switch $li['resource']}
                    {case -2}无{/case}
                    {case -1}x{/case}
                    {default /}{$li['resource']}
                    {/switch}
                </td>
                <td>{if isset($type[$li['type_id']])}{$type[$li['type_id']]}{/if}</td>
                <td>
                    {if isset($camp[$li['camp_id']])}
                    <div style="width: 44px;height: 44px;background-image: url('/{$camp[$li['camp_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>
                    {if isset($ability[$li['ability_id']])}
                    <div style="width: 100px;height: 38px;background-image: url('/{$ability[$li['ability_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>{if isset($version[$li['version_id']])}{$version[$li['version_id']]}{/if}</td>
                <td>{$li.status}</td>
                <td>
                    <span>
                        <a title="编辑" href="javascript:;" class="ml-5" style="text-decoration:none" onclick="pagefull('卡牌详情','{:url("Card/cardDetail",array("id"=>$li["id"]))}')">
                    <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                    </span>
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="12" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Card/cardList")}' + '?<?php echo $page["query"];?>',totalPage = '{$page.totalPage}';
    var curr = '{$page.curr}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var attr_id = $("#formAjax").find("#attr_id").val();
        var resource = $("#formAjax").find("#resource").val();
        var type_id = $("#formAjax").find("#type_id").val();
        var camp_id = $("#formAjax").find("#camp_id").val();
        var ability_id = $("#formAjax").find("#ability_id").val();
        var version_id = $("#formAjax").find("#version_id").val();
        var search = $("#formAjax").find("#search").val();

        var str = '';
        if(attr_id.length != '') { str += '&attr_id=' + attr_id }
        if(resource.length != '') { str += '&resource=' + resource }
        if(type_id.length != '') { str += '&type_id=' + type_id }
        if(camp_id.length != '') { str += '&camp_id=' + camp_id }
        if(ability_id.length != '') { str += '&ability_id=' + ability_id }
        if(version_id.length != '') { str += '&version_id=' + version_id }
        if(search.length != 0) { str += '&search=' + search; }

        window.location.href = '{:url("Card/cardList")}' + '?' + str;
    });

    $("#toExcel").click(function () {
        var datemin = $("#formAjax").find("#datemin").val();
        var datemax = $("#formAjax").find("#datemax").val();
        var search = $("#formAjax").find("#search").val();
        var str = '';
        if(datemin.length != '') {
            str += '&datemin=' + datemin
        }
        if(datemax.length != '') {
            str += '&datemax=' + datemax
        }
        if(search.length != 0) {
            str += '&search=' + search;
        }
        window.location.href = '{:url("Excel/cardToExcel")}' + '?' + str;
    });


</script>